body{
    background: url(c6b177bd5c0fcaefb8bbff080a43138c.jpg);
    margin: 0px;
    padding: 0px;
}
.kapsa{
    width: 1100px;
    margin: 20px auto;
    border: 2px solid black;
}
.header{
    color: rgb(0, 0, 0);
    padding: 30px;
    font-family: Impact;


}
.header h2{
    background-color: olivedrab;
    width: 150px;
    border: 2px solid olivedrab;
    border-radius: 5px;
    border size: 20px;
    color: black;
    padding: 5px 20px;
    
}
.ust_menu{
    background-color: gainsboro;
    height: 40px;
}
.ust_menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.ust_menu ul li{
    float: left;
}
.ust_menu ul li a{
    display: block;
    height: 40px;
    width: 150px;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    
}

.ust_menu ul li a:hover{
    color: crimson;
}
.icerik{
    background-color: rgb(114, 9, 163);
    height: 500px;
    width: 1200;
} 

.ara{
    height: 40px;
    line-height: 40px;
    float: right;
    margin-right: 10px;
}
.ara button{
    width: 60px;
    background-color: green;
    color: white;
    border-radius: 10px;
}
.sol_taraf{
    width: 600px;
    line-height: 40px;
    text-align: justify;
    font-family: Cambria;
    float: left;
}  
.sol_taraf h2{
    width: 600px;
    border-bottom: 2px dashed white;
    padding-left: 20px;
}
.sol_taraf img{
    height: 300px;
    width: 400px;
    float: left;
    margin-right: 10px;
}
.sag_taraf{
    width: 370;
    margin-left: 50px;
    float: left;
}
.sag_taraf h3{
    background-color: rgb(216, 143, 8);
    border-width: 10px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.sag_taraf ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.sag_taraf ul li{
    height: 40px;
    background-color: rgb(165, 121, 26);
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}
